@media screen and (max-width:1200px) {
    .navlink{
        display: none;
    }
    .navbar .hamberger-icon{
        display: block;
    }
}
@media screen and (max-width:425px) {
    #sidemenu{
        width: 35vw;
    }
    .sidemenuitems li a{
        font-size: 1rem;
    }
    .logo{
        font-size: 2rem;
    }
    .navbar .hamberger-icon{
        font-size: 1.5rem;
    }
    .cancel{
        font-size: 1.2rem;
    }
    /* home section */
    section{
        padding-top: 3vh;
        margin: 0 2rem;
        min-height: fit-content;
        box-sizing: border-box;
    }
    #home{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        height: 100%;
    }
    .profile img{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: auto 0;
    }
    p{
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    h1{
        font-size: 2rem;
    }
    .social-links>i{
        font-size: 1.5rem;
        cursor: pointer;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .btn{
        font-weight: 600;
        padding: 0.5rem;
        background-color: transparent;
        border-radius: 2rem;
        width: 7rem;
        transition: all 0.4s ease;
        cursor: pointer;
        border:2px solid black;
    }
    /* about section */
    #about{
        height: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .photo img{
        border-radius: 5rem;
        width: 250px;
        height: 250px;
        transition: transform 0.3s ease;
        cursor: pointer;
        border-radius: 50%;
    }
    .about-p{
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
    }
    .about-h1{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .aboutme-content{
        font-weight: 300;
        font-size: 1rem;
    }
    .tab-titles{
        display: flex;
        gap: 1rem;
    }
    .tab-links{
        font-size: 1rem;
    }
    .tab-content ul>li{
        font-size: 0.8rem;
        list-style: disc;
    }
    .tab-content ul>li>span:first-of-type{
        color: #800080;
        font-size: 1rem;
        font-weight: 500;
    }
    /* project section */
    .project img{
        width: 100%;
        height: 300px;
        border-radius: 1rem;
        display: block;
        transition: transform 0.3s ease;
    }
    .layer p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .project .icon{
        font-size: 1rem;
    }
    .project{
        height: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 1rem;
    }
    /* contact section */
    #contact{
        margin: 13rem 0;
        height: 100vh;
        width: 100vw;
    }
    .cont-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        padding-top: 3rem;
    }
    #contcol1>h2{
        font-size: 1.5rem;
    }
    #contcol1>span>a{
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    #contcol1>span{
        padding: 0.5rem 0;
    }
    #contcol1>span>i{
        font-size: 1rem;
        color: purple;
        transition: transform 0.3s ease;
    }
    .cont-container>div,.cont-container>div>form{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer{
        height: 3rem;
    }
    .footer p{
        font-size: 0.8rem;
        font-weight: 300;
    }
}
@media  screen and (min-width:425px) and (max-width:625px){
    #sidemenu{
        width: 40vw;
    }
    .sidemenuitems li a{
        font-size: 1.2rem;
    }
    h1{
        font-size: 2.5rem;
    }
    /* home section */
    section{
        padding-top: 3vh;
        margin: 0 2rem;
        min-height: fit-content;
        box-sizing: border-box;
    }
    #home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .profile img{
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: auto 0;
    }
    /* about section */
    #about{
        margin-top: 3rem;
        height: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .photo img{
        border-radius: 5rem;
        width: 350px;
        height: 350px;
        transition: transform 0.3s ease;
        cursor: pointer;
        border-radius: 50%;
    }
    .tab-titles{
        display: flex;
        gap: 1rem;
    }
    .tab-links{
        font-size: 1.5rem;
    }
    .about-p{
        font-weight: 400;
        font-size: 1.5rem;
    }
    .about-h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    /* project section */
    .project img{
        width: 100%;
        height: 300px;
        border-radius: 1rem;
        display: block;
        transition: transform 0.3s ease;
    }
    .layer p{
        font-size: 1rem;
        font-weight: 300;
    }
    .project .icon{
        font-size: 1.5rem;
    }
    .project{
        height: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 1rem;
    }
    /* contact section */
    #contact{
        margin: 14rem 0;
        height: 100vh;
        width: 100vw;
    }
    .cont-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        padding-top: 3rem;
    }
    #contcol1>h2{
        font-size: 1.7rem;
    }
    #contcol1>span>a{
        font-size: 1.3rem;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    .cont-container>div,.cont-container>div>form{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer{
        height: 3rem;
    }
    .footer p{
        font-size: 0.8rem;
        font-weight: 300;
    }
}
@media screen and (min-width:625px)and (max-width:768px){
    #sidemenu{
        width: 40vw;
    }
    .sidemenuitems li a{
        font-size: 1.2rem;
    }
    h1{
        font-size: 2.5rem;
    }
    /* home section */
    .profile img{
        border-radius: 50%;
        width: 320px;
        height: 320px;
        margin: auto 0;
    }
    p{
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    h1{
        font-size: 2.2rem;
    }
    .social-links>i{
        font-size: 1.8rem;
    }
    /* about section */
    #about{
        margin-top: 3rem;
        height: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .photo img{
        border-radius: 5rem;
        width: 400px;
        height: 400px;
        transition: transform 0.3s ease;
        cursor: pointer;
        border-radius: 50%;
    }
    .tab-titles{
        display: flex;
        gap: 1rem;
    }
    .tab-links{
        font-size: 1.5rem;
    }
    .about-p{
        font-weight: 400;
        font-size: 1.5rem;
    }
    .about-h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
}